<%- partial('_partial/head') %>
<link rel="stylesheet" href="/dist/APlayer.min.css">
<body>
  <div id="aplayer"></div>
  <%- partial('_partial/loading') %>
  <nav id="menu" <% if(is_post() && theme.hideMenu){ %>class="hide"<% } %> >
   <%- partial('_partial/menu') %>
  </nav>
  <main id="main">
    <%- partial('_partial/header') %>
    <div class="container body-wrap">
      <%- body %>
    </div>
  </main>
<%- partial('_partial/after-footer') %>
<%- partial('_partial/script') %>
<script type="text/javascript" src="/dist/APlayer.min.js"></script>
<script type="text/javascript" src="/dist/music.js"></script>
</body>
</html>
